body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:380px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:680px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:680px;
}
#u2 {
  position:absolute;
  left:2px;
  top:332px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:32px;
  top:101px;
  width:320px;
  height:480px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u4 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:32px;
  top:100px;
  width:320px;
  height:64px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u6 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:32px;
  top:120px;
  width:320px;
  height:34px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
}
#u8 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:312px;
  top:126px;
  width:22px;
  height:22px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:160px;
  top:130px;
  width:53px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:32px;
  top:542px;
  width:320px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:69px;
  top:544px;
  width:28px;
  height:21px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:149px;
  top:545px;
  width:19px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:299px;
  top:545px;
  width:25px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:69px;
  top:565px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:144px;
  top:565px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:298px;
  top:565px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:228px;
  top:545px;
  width:19px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:224px;
  top:565px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:31px;
  top:165px;
  width:320px;
  height:50px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:31px;
  top:215px;
  width:320px;
  height:80px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u35 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:177px;
  top:244px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:31px;
  top:294px;
  width:158px;
  height:60px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u39 {
  position:absolute;
  left:2px;
  top:22px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:193px;
  top:294px;
  width:158px;
  height:60px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u41 {
  position:absolute;
  left:2px;
  top:22px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:245px;
  top:316px;
  width:53px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:31px;
  top:370px;
  width:320px;
  height:145px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:145px;
}
#u45 {
  position:absolute;
  left:2px;
  top:64px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:143px;
  top:435px;
  width:96px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:46px;
  top:182px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:97px;
  top:316px;
  width:27px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
