body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:126px;
  top:53px;
  width:125px;
  height:32px;
  color:#009DDA;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
}
#u0_img.selected {
}
#u0.selected {
}
#u1 {
  position:absolute;
  left:0px;
  top:8px;
  width:125px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:251px;
  top:53px;
  width:125px;
  height:32px;
  color:#009DDA;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
}
#u2_img.selected {
}
#u2.selected {
}
#u3 {
  position:absolute;
  left:0px;
  top:8px;
  width:125px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:86px;
  width:375px;
  height:517px;
  overflow:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:517px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:516px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:516px;
}
#u6 {
  position:absolute;
  left:2px;
  top:250px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:84px;
  top:67px;
  width:92px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:23px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:80px;
  top:93px;
  width:260px;
  height:55px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:55px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:20px;
  top:153px;
  width:327px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:310px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:327px;
  height:1px;
}
#u12 {
  position:absolute;
  left:20px;
  top:14px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:18px;
  top:68px;
  width:52px;
  height:52px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u15 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:84px;
  top:174px;
  width:92px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:23px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:80px;
  top:200px;
  width:260px;
  height:55px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:55px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:20px;
  top:260px;
  width:327px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:310px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:327px;
  height:1px;
}
#u21 {
  position:absolute;
  left:18px;
  top:175px;
  width:52px;
  height:52px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u22 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:84px;
  top:276px;
  width:92px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:23px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:80px;
  top:302px;
  width:260px;
  height:55px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:55px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:20px;
  top:362px;
  width:327px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:310px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:327px;
  height:1px;
}
#u28 {
  position:absolute;
  left:18px;
  top:277px;
  width:52px;
  height:52px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u29 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:84px;
  top:394px;
  width:92px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:23px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:80px;
  top:420px;
  width:260px;
  height:55px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:55px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:20px;
  top:480px;
  width:327px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:310px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:327px;
  height:1px;
}
#u35 {
  position:absolute;
  left:18px;
  top:395px;
  width:52px;
  height:52px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u36 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:517px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:516px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:516px;
}
#u38 {
  position:absolute;
  left:2px;
  top:250px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:13px;
  top:14px;
  width:120px;
  height:70px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
}
#u40 {
  position:absolute;
  left:2px;
  top:27px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:147px;
  top:20px;
  width:155px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:147px;
  top:64px;
  width:53px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:218px;
  top:64px;
  width:20px;
  height:15px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u46 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:247px;
  top:62px;
  width:29px;
  height:15px;
  font-size:12px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:13px;
  top:115px;
  width:120px;
  height:70px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
}
#u50 {
  position:absolute;
  left:2px;
  top:27px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:147px;
  top:121px;
  width:113px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:147px;
  top:165px;
  width:40px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:218px;
  top:165px;
  width:20px;
  height:15px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u56 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:247px;
  top:163px;
  width:29px;
  height:15px;
  font-size:12px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:13px;
  top:217px;
  width:120px;
  height:70px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
}
#u60 {
  position:absolute;
  left:2px;
  top:27px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:147px;
  top:223px;
  width:155px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:147px;
  top:267px;
  width:53px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:218px;
  top:267px;
  width:20px;
  height:15px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u66 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:247px;
  top:265px;
  width:29px;
  height:15px;
  font-size:12px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:13px;
  top:318px;
  width:120px;
  height:70px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
}
#u70 {
  position:absolute;
  left:2px;
  top:27px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:147px;
  top:324px;
  width:113px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:147px;
  top:368px;
  width:40px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:218px;
  top:368px;
  width:20px;
  height:15px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u76 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:247px;
  top:366px;
  width:29px;
  height:15px;
  font-size:12px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:13px;
  top:420px;
  width:120px;
  height:70px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
}
#u80 {
  position:absolute;
  left:2px;
  top:27px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:147px;
  top:426px;
  width:113px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:147px;
  top:470px;
  width:40px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:218px;
  top:470px;
  width:20px;
  height:15px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u86 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:247px;
  top:468px;
  width:29px;
  height:15px;
  font-size:12px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:517px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:516px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:516px;
}
#u90 {
  position:absolute;
  left:2px;
  top:250px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:20px;
  top:14px;
  width:85px;
  height:13px;
  font-size:10px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:13px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:20px;
  top:29px;
  width:157px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:20px;
  top:47px;
  width:330px;
  height:60px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:60px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:20px;
  top:110px;
  width:85px;
  height:13px;
  font-size:10px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:13px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:20px;
  top:125px;
  width:157px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:20px;
  top:143px;
  width:327px;
  height:44px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:44px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:20px;
  top:102px;
  width:327px;
  height:10px;
}
#u103_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_end {
  position:absolute;
  left:310px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_line {
  position:absolute;
  left:0px;
  top:5px;
  width:327px;
  height:1px;
}
#u104 {
  position:absolute;
  left:20px;
  top:192px;
  width:85px;
  height:13px;
  font-size:10px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:13px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:20px;
  top:207px;
  width:157px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:20px;
  top:225px;
  width:330px;
  height:60px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:60px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:20px;
  top:182px;
  width:327px;
  height:10px;
}
#u110_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_end {
  position:absolute;
  left:310px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_line {
  position:absolute;
  left:0px;
  top:5px;
  width:327px;
  height:1px;
}
#u111 {
  position:absolute;
  left:20px;
  top:277px;
  width:327px;
  height:10px;
}
#u111_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u111_end {
  position:absolute;
  left:310px;
  top:-5px;
  width:18px;
  height:20px;
}
#u111_line {
  position:absolute;
  left:0px;
  top:5px;
  width:327px;
  height:1px;
}
#u112 {
  position:absolute;
  left:20px;
  top:299px;
  width:85px;
  height:13px;
  font-size:10px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:13px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:20px;
  top:314px;
  width:157px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:20px;
  top:332px;
  width:330px;
  height:60px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:60px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:20px;
  top:395px;
  width:85px;
  height:13px;
  font-size:10px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:13px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:20px;
  top:410px;
  width:157px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:20px;
  top:428px;
  width:327px;
  height:44px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:44px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:20px;
  top:387px;
  width:327px;
  height:10px;
}
#u124_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u124_end {
  position:absolute;
  left:310px;
  top:-5px;
  width:18px;
  height:20px;
}
#u124_line {
  position:absolute;
  left:0px;
  top:5px;
  width:327px;
  height:1px;
}
#u125 {
  position:absolute;
  left:20px;
  top:467px;
  width:327px;
  height:10px;
}
#u125_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u125_end {
  position:absolute;
  left:310px;
  top:-5px;
  width:18px;
  height:20px;
}
#u125_line {
  position:absolute;
  left:0px;
  top:5px;
  width:327px;
  height:1px;
}
#u126 {
  position:absolute;
  left:1px;
  top:53px;
  width:125px;
  height:32px;
  color:#009DDA;
  text-align:center;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
}
#u126_img.selected {
}
#u126.selected {
}
#u127 {
  position:absolute;
  left:0px;
  top:8px;
  width:125px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u129 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:22px;
  top:13px;
  width:20px;
  height:20px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u131 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:161px;
  top:14px;
  width:27px;
  height:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:324px;
  top:14px;
  width:27px;
  height:16px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
