body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:450px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:940px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:940px;
}
#u2 {
  position:absolute;
  left:2px;
  top:462px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:40px;
  top:139px;
  width:376px;
  height:64px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:40px;
  top:160px;
  width:375px;
  height:645px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:645px;
}
#u6 {
  position:absolute;
  left:2px;
  top:314px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:40px;
  top:764px;
  width:375px;
  height:40px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:77px;
  top:766px;
  width:28px;
  height:21px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:177px;
  top:767px;
  width:19px;
  height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:352px;
  top:767px;
  width:25px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:77px;
  top:787px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:172px;
  top:787px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:351px;
  top:787px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:269px;
  top:767px;
  width:19px;
  height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:265px;
  top:787px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:40px;
  top:157px;
  width:375px;
  height:647px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u26 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:90px;
  top:352px;
  width:276px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:9px;
  width:272px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:90px;
  top:304px;
  width:276px;
  height:29px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u30 {
  position:absolute;
  left:90px;
  top:264px;
  width:276px;
  height:30px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u31 {
  position:absolute;
  left:313px;
  top:430px;
  width:53px;
  height:16px;
  color:#666666;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:40px;
  top:604px;
  width:375px;
  height:200px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:200px;
}
#u34 {
  position:absolute;
  left:2px;
  top:92px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:370px;
  top:172px;
  width:25px;
  height:30px;
  font-size:36px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:40px;
  top:455px;
  width:375px;
  height:145px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:145px;
}
#u38 {
  position:absolute;
  left:2px;
  top:64px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
