body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:450px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:940px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:940px;
}
#u1 {
  position:absolute;
  left:2px;
  top:462px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:139px;
  width:376px;
  height:64px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:160px;
  width:375px;
  height:645px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:645px;
}
#u5 {
  position:absolute;
  left:2px;
  top:314px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:764px;
  width:375px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:77px;
  top:766px;
  width:28px;
  height:21px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:177px;
  top:767px;
  width:19px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:352px;
  top:767px;
  width:25px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:77px;
  top:787px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:172px;
  top:787px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:351px;
  top:787px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:269px;
  top:767px;
  width:19px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:265px;
  top:787px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:40px;
  top:160px;
  width:375px;
  height:603px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
}
