body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:380px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:680px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:680px;
}
#u2 {
  position:absolute;
  left:2px;
  top:332px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:32px;
  top:101px;
  width:320px;
  height:480px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u4 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:32px;
  top:100px;
  width:320px;
  height:64px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u6 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:32px;
  top:120px;
  width:320px;
  height:34px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
}
#u8 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:312px;
  top:126px;
  width:22px;
  height:22px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:160px;
  top:130px;
  width:53px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:32px;
  top:164px;
  width:320px;
  height:100px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u14 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:168px;
  top:179px;
  width:53px;
  height:55px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:55px;
}
#u16 {
  position:absolute;
  left:2px;
  top:20px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:178px;
  top:244px;
  width:27px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:32px;
  top:263px;
  width:320px;
  height:60px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u20 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:250px;
  top:268px;
  width:10px;
  height:50px;
}
#u21_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u21_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u21_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u22 {
  position:absolute;
  left:126px;
  top:268px;
  width:10px;
  height:50px;
}
#u22_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u22_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u22_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u23 {
  position:absolute;
  left:32px;
  top:328px;
  width:320px;
  height:100px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u24 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:188px;
  top:339px;
  width:10px;
  height:81px;
}
#u25_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u25_end {
  position:absolute;
  left:-5px;
  top:64px;
  width:20px;
  height:18px;
}
#u25_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:81px;
}
#u26 {
  position:absolute;
  left:32px;
  top:438px;
  width:321px;
  height:36px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:36px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:317px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:32px;
  top:473px;
  width:321px;
  height:36px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:36px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:32px;
  top:508px;
  width:321px;
  height:36px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:36px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:82px;
  top:376px;
  width:66px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:284px;
  top:285px;
  width:27px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:250px;
  top:376px;
  width:53px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:62px;
  top:285px;
  width:40px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:178px;
  top:285px;
  width:27px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:168px;
  top:484px;
  width:53px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
